/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7fd1d1;
}

a {
  text-decoration: none;
  color: #dd2a52;
}

.bold {
  font-weight: bold;
}

/* Top bar */
.top-bar {
  background-color: #b2f0f0;
  text-align: center;
  padding: 8px;
  font-size: 16px;
}

/* Navbar */
.navbar {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.navbar-brand img.logo {
  height: 160px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.navbar-menu li a {
  font-size: 22px;
  color: #272424c4;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #dd2a52;
}

.user-icon {
  width: 80px;
  height: 80px;
  background-color: #7fd1d1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que la imagen se ajuste correctamente dentro del círculo */
}

/* Cuando el usuario está logueado, reemplazamos la imagen */
.logged-in .user-icon-image {
  content: url("./imagenes/user-photo.jpg"); /* Ruta a la foto del usuario */
}

/* Carrusel */

.carousel {
  width: 600px;
  height: 200px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-track a {
  flex: 0 0 100%;
  display: block;
  height: 200px;
}

.carousel-track img {
  width: 600px;
  height: 200px;
  object-fit: contain;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Trabajos más buscados */
.trabajos {
  text-align: center;
  padding: 40px 20px;
}

.trabajos h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.trabajos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.job-box {
  height: 180px;
  border-radius: 0;
  background-color: none;
  overflow: hidden;
  padding: 0;
}

.job-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 0px;
}

.job-box:hover img {
  transform: scale(1.05);
}
