body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #7fd1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 25px;
  background-color: #45b8c5;
  border-color: transparent;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #379aa6;
}

/* 📱 Estilos para Tablet (>=768px) */
@media (min-width: 768px) {
  h4 {
    font-size: 28px;
  }

  .btn {
    padding: 14px 30px;
    font-size: 18px;
  }

  .botones {
    gap: 30px;
  }
}

/* 💻 Estilos para Desktop (>=1024px) */
@media (min-width: 1024px) {
  h4 {
    font-size: 32px;
  }

  .btn {
    padding: 16px 40px;
    font-size: 20px;
  }

  .botones {
    gap: 40px;
  }
}
