nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  margin-bottom: 5%;
  position: relative;
  z-index: 2000;
}

/* Logo */
.logo img {
  height: 80px;
}

/*        ICONO DE USUARIO       */
.user-icon-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #88d8db;
  padding: 5px;
}

/* Nav bar oculto*/
.navbar {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* menú desplegable*/
.navbar.show {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente */
  background: white;
  position: absolute;
  top: 70px; /* justo debajo del nav */
  left: 0;
  width: 100%;
  padding: 1rem 0;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar.show li {
  display: flex;
  justify-content: center; /* centra el texto*/
  width: 100%;
  list-style: none;
}

.navbar.show a {
  display: inline-block;
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  width: 100%;
  max-width: 150px; /* texto*/
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.navbar.show a:hover {
  background: #f0f0f0;
  color: #000;
}

/* Boton menu hamburguesa*/

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* overlay de fondo */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

@media (min-width: 768px) {
  .navbar {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    position: static;
  }

  .menu-toggle {
    display: none; /* oculta el botón hamburguesa */
  }
}

/* Escritorio */
@media (min-width: 1024px) {
  .navbar {
    margin-right: 8%;
  }

  .logo img {
    height: 90px;
  }
}

/*    AJUSTES DEL NAV ABIERTO ABIERTO   */

nav.menu-open {
  justify-content: space-between;
}
