.admin-panel {
  background-color: #333;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1;
  padding: 2rem;
}

.selector {
  margin-bottom: 1.5rem;
}

.selector label {
  margin-right: 1rem;
  font-weight: bold;
}

select {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

.tabla-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  color: #333;
  margin-bottom: 5%;
}

th, td {
  border: 1px solid #7fd1d1;
  padding: 0.8rem;
  text-align: left;
}

th {
  background-color: #7fd1d1;
}

.btn-eliminar {
  background: #e74c3c;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-eliminar:hover {
  background: #c0392b;
}
