.hd-header {
  width: 100%;
  background: white;
}

.hd-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  position: relative;
  z-index: 9999;
}

.hd-logo img {
  height: 65px;
}

.hd-menu-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

@media (min-width: 768px) {
  .hd-menu-btn {
    display: none;
  }
}
